
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-1-7HB {
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;
  position: relative;

  .auto-group-ac4h-L9w {
    width: 100%;
    height: 79rem;
    position: relative;
    flex-shrink: 0;

    .rectangle-31-Q3K {
      width: 144rem;
      height: 74.8rem;
      position: absolute;
      left: 0;
      top: 4.2rem;
      background-color: #161615;
    }
    .rectangle-VqT {
      height: 74.9rem;
      left: 0;
      background-image: url('REPLACE_IMAGE:de391a52c4668920b65cd75a6ec7e6e49957ed1c');
      background-size: 100.85%;
      opacity: 0.5;
      width: 144rem;
      position: absolute;
      top: 4.1rem;
      background-repeat: repeat;
    }
    .group-15-CUy {
      top: 12.9rem;
      width: 144rem;
      height: 65.9rem;
      position: absolute;
      left: 0;

      .rectangle-30-jE1 {
        position: absolute;
        left: 44.7rem;
        top: 21.5617rem;
        background-color: #f07e15;
        width: 99.3rem;
        height: 35.4301rem;
      }
      .star-3-Fy3 {
        width: 36.7rem;
        height: 37.151rem;
        position: absolute;
        left: 101rem;
        top: 0;
        object-fit: contain;
        vertical-align: top;
      }
      .jessica-radanavong-ichpbhfd0pw-unsplash-Ziq {
        object-fit: cover;
        vertical-align: top;
        width: 43.2rem;
        height: 65.4951rem;
        position: absolute;
        left: 89.9rem;
        top: 0.4049rem;
      }
      .rectangle-29-TJR {
        background-color: rgba(240, 126, 21, 0.200000003);
        opacity: 0.2;
        width: 99.3rem;
        height: 35.4301rem;
        position: absolute;
        left: 44.7rem;
        top: 21.5617rem;
      }
      .star-4-vho {
        width: 6.4rem;
        height: 8.9081rem;
        position: absolute;
        left: 94.4rem;
        top: 49.1972rem;
        object-fit: contain;
        vertical-align: top;
      }
      .oregon-jacket-s7F {
        width: 11.7rem;
        font-weight: 400;
        text-transform: uppercase;
        white-space: nowrap;
        font-size: 1.4rem;
        line-height: 1.1725;
        color: #161615;
        font-family: Work Sans, 'Source Sans Pro';
        height: 1.7rem;
        position: absolute;
        left: 130rem;
        top: 48.5899rem;
      }
      .item-124-8os {
        line-height: 1.1725;
        font-family: Work Sans, 'Source Sans Pro';
        white-space: nowrap;
        height: 1.7rem;
        top: 50.5132rem;
        font-size: 1.4rem;
        font-weight: 400;
        color: #161615;
        width: 3.1rem;
        position: absolute;
        left: 130rem;
      }
      .line-23-QWV {
        left: 0;
        top: 53.6513rem;
        background-color: #ffffff;
        width: 97.6rem;
        height: 0.1rem;
        position: absolute;
      }
      .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua-ut-enim-ad-minim-veniam-quis-nostrud-exercitation-ullamco-WJd {
        top: 15.1rem;
        font-size: 13.5rem;
        font-weight: 800;
        font-family: Syne, 'Source Sans Pro';
        white-space: nowrap;
        width: 60.7rem;
        height: 10.3rem;
        position: absolute;
        left: 11.5rem;
        line-height: 0.7599999887;
        color: #ffffff;
      }
      .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua-ut-enim-ad-minim-veniam-quis-nostrud-exercitation-ullamco-Uem {
        height: 10.3rem;
        position: absolute;
        top: 37.6rem;
        font-size: 13.5rem;
        line-height: 0.7599999887;
        width: 52.7rem;
        font-weight: 800;
        color: #ffffff;
        font-family: Syne, 'Source Sans Pro';
        white-space: nowrap;
        left: 18.7rem;
      }
      .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua-ut-enim-ad-minim-veniam-quis-nostrud-exercitation-ullamco-Jth {
        position: absolute;
        left: 42.4rem;
        font-size: 13.5rem;
        font-weight: 800;
        line-height: 0.7599999887;
        font-family: Syne, 'Source Sans Pro';
        white-space: nowrap;
        width: 55.1rem;
        height: 10.3rem;
        top: 26.7rem;
      }
      .frame-11197-vv5 {
        width: 10.3rem;
        height: 2.5rem;
        position: absolute;
        left: 11.5rem;
        top: 56.7rem;
        border-bottom: solid 0.1rem #ffffff;
        box-sizing: border-box;
        border: solid 0.1rem #ffffff;

        .frame-1-Tf7 {
          width: 100%;
          height: 2.2rem;
          display: flex;
          align-items: center;

          .see-more-1Rj {
            font-family: Work Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 0.9rem;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.1725;
            color: #ffffff;
          }
          .vector-gRP {
            height: 1rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-top: 0.2rem;
            width: 1rem;
          }
        }
      }
    }
    .rectangle-27-uow {
      width: 144rem;
      height: 4.2rem;
      position: absolute;
      left: 0;
      top: 0;
      background-color: #191919;
    }
    .home-f2R {
      width: 5.4rem;
      position: absolute;
      left: 13.7rem;
      white-space: nowrap;
      height: 2.2rem;
      top: 11.5rem;
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 1.1725;
      color: #ffffff;
      font-family: Work Sans, 'Source Sans Pro';
    }
    .about-Zdb {
      top: 11.5rem;
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 1.1725;
      color: #ffffff;
      width: 6.1rem;
      position: absolute;
      left: 31.4rem;
      white-space: nowrap;
      height: 2.2rem;
      font-family: Work Sans, 'Source Sans Pro';
    }
    .contact-us-rMo {
      font-weight: 400;
      line-height: 1.1725;
      color: #ffffff;
      width: 11.4rem;
      height: 2.2rem;
      left: 75.5rem;
      top: 11.5rem;
      font-size: 1.8rem;
      position: absolute;
      font-family: Work Sans, 'Source Sans Pro';
      white-space: nowrap;
    }
    .bag-0-AdP {
      position: absolute;
      left: 129.9rem;
      font-size: 1.4rem;
      font-weight: 400;
      color: #ffffff;
      width: 5.1rem;
      height: 1.7rem;
      top: 7rem;
      line-height: 1.1725;
      font-family: Work Sans, 'Source Sans Pro';
      white-space: nowrap;
    }
    .wishlist-0-grd {
      font-size: 1.4rem;
      font-weight: 400;
      color: #ffffff;
      width: 8.9rem;
      height: 1.7rem;
      position: absolute;
      left: 120rem;
      top: 7rem;
      line-height: 1.1725;
      font-family: Work Sans, 'Source Sans Pro';
      white-space: nowrap;
    }
    .shopkart-aBK {
      height: 6rem;
      position: absolute;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      color: #ffffff;
      width: 18.3rem;
      left: 9rem;
      top: 4.1rem;
      font-size: 4rem;
      line-height: 1.5;
    }
    .free-delivery-H5j {
      font-family: Poppins, 'Source Sans Pro';
      width: 7.6rem;
      height: 1.8rem;
      position: absolute;
      top: 1.3rem;
      line-height: 1.5;
      left: 11.8rem;
      font-size: 1.2rem;
      font-weight: 400;
      color: #616161;
      white-space: nowrap;
    }
    .return-policy-nHP {
      height: 1.8rem;
      position: absolute;
      left: 22.2rem;
      top: 1.3rem;
      font-size: 1.2rem;
      line-height: 1.5;
      font-family: Poppins, 'Source Sans Pro';
      width: 7.7rem;
      font-weight: 400;
      color: #616161;
      white-space: nowrap;
    }
    .login-Hjw {
      font-family: Poppins, 'Source Sans Pro';
      width: 2.7rem;
      height: 1.5rem;
      left: 116.4rem;
      top: 1.4rem;
      font-weight: 400;
      line-height: 1.5;
      color: #616161;
      position: absolute;
      font-size: 1rem;
      white-space: nowrap;
    }
    .follow-us-PHB {
      line-height: 1.5;
      color: #616161;
      left: 122.6rem;
      top: 1.4rem;
      position: absolute;
      font-size: 1rem;
      font-weight: 400;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      width: 4.7rem;
      height: 1.5rem;
    }
    .layer-156-JQ9 {
      object-fit: contain;
      vertical-align: top;
      width: 2.1rem;
      height: 1.2904rem;
      position: absolute;
      left: 9rem;
      top: 1.5rem;
    }
    .vector-dSR {
      object-fit: contain;
      vertical-align: top;
      width: 0.45rem;
      height: 0.76rem;
      position: absolute;
      left: 128.7rem;
      top: 1.7rem;
    }
    .vector-NQ1 {
      height: 0.7645rem;
      position: absolute;
      left: 130.3rem;
      top: 1.7rem;
      object-fit: contain;
      vertical-align: top;
      width: 0.8rem;
    }
    .vector-WFK {
      vertical-align: top;
      width: 0.76rem;
      height: 0.56rem;
      position: absolute;
      left: 132.3rem;
      top: 1.8rem;
      object-fit: contain;
    }
    .group-6-3m3 {
      width: 0.8rem;
      height: 0.8rem;
      position: absolute;
      left: 134.2rem;
      top: 1.7rem;
      object-fit: contain;
      vertical-align: top;
    }
    .line-11-aky {
      width: 0.1rem;
      height: 1.9rem;
      position: absolute;
      left: 20.8rem;
      top: 1.1rem;
      background-color: #616161;
    }
    .group-16-szy {
      height: 2.2rem;
      position: absolute;
      left: 9rem;
      top: 8.7rem;
      object-fit: contain;
      vertical-align: top;
      width: 126rem;
    }
    .dropdown-PiR {
      position: absolute;
      left: 49rem;
      top: 11.5rem;
      border: solid 0.1rem #ffffff;
      box-sizing: border-box;
      padding-bottom: 1.1rem;
      width: 15.9rem;
      height: 12.3rem;

      .dopdown-uRs {
        color: #ffffff;
        font-family: Work Sans, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 0.1rem;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 1.1725;
      }
      .line-34-dcm {
        margin-bottom: 0.5rem;
        width: 13.9rem;
        height: 0.1rem;
        background-color: #ffffff;
      }
      .product-1-aH7 {
        margin-bottom: 0.5rem;
        font-size: 1.4rem;
        font-weight: 300;
        line-height: 1.1725;
        color: #ffffff;
        font-family: Work Sans, 'Source Sans Pro';
        white-space: nowrap;
      }
      .product-2-iPK {
        margin-bottom: 0.5rem;
        font-size: 1.4rem;
        font-weight: 300;
        line-height: 1.1725;
        color: #ffffff;
        font-family: Work Sans, 'Source Sans Pro';
        white-space: nowrap;
      }
      .product-3-eXs {
        font-family: Work Sans, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 0.5rem;
        font-size: 1.4rem;
        font-weight: 300;
        line-height: 1.1725;
        color: #ffffff;
      }
      .product-4-hFF {
        font-family: Work Sans, 'Source Sans Pro';
        white-space: nowrap;
        font-size: 1.4rem;
        font-weight: 300;
        line-height: 1.1725;
        color: #ffffff;
      }
    }
  }
  .auto-group-p32q-bbX {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 7rem 0rem 10.3rem 6.7rem;
    width: 100%;
    align-items: center;

    .auto-group-ugxk-4k1 {
      height: 11.6rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 10.4rem 2.2rem 0rem;

      .auto-group-iu7b-aiM {
        margin-right: 45rem;
        width: 66.1rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua-ut-enim-ad-minim-veniam-quis-nostrud-exercitation-ullamco-Kvq {
          left: 1.6rem;
          top: 0;
          font-size: 9rem;
          line-height: 1.2;
          color: #000000;
          font-family: Syne, 'Source Sans Pro';
          width: 64.5rem;
          position: absolute;
          font-weight: 600;
          white-space: nowrap;
          height: 10.8rem;
        }
        .group-17-MsX {
          height: 2.2rem;
          position: absolute;
          left: 0;
          top: 9.4rem;
          object-fit: contain;
          vertical-align: top;
          width: 65.9rem;
        }
      }
      .arrow-2-sL5 {
        vertical-align: top;
        flex-shrink: 0;
        margin: 1.4rem 4.8rem 0rem 0rem;
        width: 5.5rem;
        height: 0;
        object-fit: contain;
      }
      .arrow-1-c2m {
        margin-top: 1.4rem;
        width: 5.5rem;
        height: 0;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .auto-group-b6uf-8G1 {
      margin: 0rem 0rem 1.2rem 2.4rem;
      height: 32.2rem;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .auto-group-uxav-SGh {
        margin: 0.1rem 9.6rem 0rem 0rem;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .apparel-KLV {
          font-weight: 400;
          line-height: 1.1725;
          color: #000000;
          font-family: Work Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 2.2rem;
          font-size: 1.8rem;
        }
        .accessories-FE9 {
          font-size: 2.6rem;
          font-weight: 600;
          line-height: 1.2;
          color: #000000;
          font-family: Syne, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 1.9rem;
        }
        .best-sellers-BNh {
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.1725;
          color: #000000;
          font-family: Work Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 2.2rem;
        }
        .off-uZb {
          font-family: Work Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.1725;
          color: #000000;
        }
      }
      .auto-group-y1of-2u7 {
        background-size: 100% 100%;
        background-position: center;
        background-image: url('REPLACE_IMAGE:18dda13e07d18c9e3059f7e9658764387e84c47e');
        padding: 27.7rem 0rem 0rem 26.5rem;
        height: 100%;
        background-repeat: no-repeat;
        flex-shrink: 0;
        margin-right: 2.6rem;
        box-sizing: border-box;

        .group-19-MRb {
          width: 4.5rem;
          height: 4.5rem;
          object-fit: contain;
          vertical-align: top;
        }
      }
      .auto-group-ewkr-TUd {
        margin-right: 2.6rem;
        box-sizing: border-box;
        height: 100%;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('REPLACE_IMAGE:c7204cb204eb2b299e5bbdcf1dc998f1a18fc075');
        padding: 27.7rem 0rem 0rem 25.9rem;
        flex-shrink: 0;

        .secondary-button-bKw {
          width: 4.5rem;
          height: 4.5rem;
          object-fit: contain;
          vertical-align: top;
        }
      }
      .auto-group-bvcm-UuX {
        position: relative;
        flex-shrink: 0;
        margin-right: 2.6rem;
        width: 30.5rem;
        height: 100%;

        .secondary-button-owo {
          width: 4.5rem;
          height: 4.5rem;
          position: absolute;
          left: 26rem;
          top: 27.7rem;
          object-fit: contain;
          vertical-align: top;
        }
        .malicki-m-beser-pkmvkg7vnuo-unsplash-k6M {
          top: 0;
          object-fit: cover;
          vertical-align: top;
          width: 30.5rem;
          height: 32.2rem;
          position: absolute;
          left: 0;
        }
        .secondary-button-4cq {
          height: 4.5rem;
          position: absolute;
          left: 26rem;
          top: 27.7rem;
          object-fit: contain;
          vertical-align: top;
          width: 4.5rem;
        }
      }
      .philipp-arlt-nmh9a0obon8-unsplash-o4d {
        height: 32.2rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        width: 30.4rem;
      }
    }
    .auto-group-vmhb-KYm {
      margin-left: 28.7rem;
      height: 12.7rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .frame-11194-3zZ {
        flex-direction: column;
        flex-shrink: 0;
        margin-right: 3.4rem;
        height: 100%;
        display: flex;

        .florida-jacket-oD3 {
          font-size: 2.6rem;
          font-weight: 600;
          line-height: 1.2;
          color: #000000;
          font-family: Syne, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.6rem;
        }
        .suffered-alteration-in-some-form-bysuffalterattion-in-some-forme-byinjected-humor-or-randomised-8m7 {
          color: rgba(22, 22, 21, 0.5);
          font-family: Work Sans, 'Source Sans Pro';
          flex-shrink: 0;
          margin-bottom: 0.7rem;
          max-width: 30.2rem;
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.1725;
        }
        .item-100-xk9 {
          font-size: 2.6rem;
          font-weight: 600;
          line-height: 1.2;
          color: #000000;
          font-family: Syne, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
      .frame-11194-VVB {
        margin-right: 2.8rem;
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .florida-jacket-SfK {
          font-size: 2.6rem;
          font-weight: 600;
          line-height: 1.2;
          color: #000000;
          font-family: Syne, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.6rem;
        }
        .suffered-alteration-in-some-form-bysuffalterattion-in-some-forme-byinjected-humor-or-randomised-amX {
          margin-bottom: 0.7rem;
          max-width: 30.2rem;
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.1725;
          color: rgba(22, 22, 21, 0.5);
          font-family: Work Sans, 'Source Sans Pro';
          flex-shrink: 0;
        }
        .item-100-5CV {
          flex-shrink: 0;
          font-size: 2.6rem;
          font-weight: 600;
          line-height: 1.2;
          color: #000000;
          font-family: Syne, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
      .frame-11194-1bw {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin-right: 2.9rem;
        height: 100%;

        .florida-jacket-Mvh {
          flex-shrink: 0;
          margin-bottom: 0.6rem;
          font-size: 2.6rem;
          font-weight: 600;
          line-height: 1.2;
          color: #000000;
          font-family: Syne, 'Source Sans Pro';
          white-space: nowrap;
        }
        .suffered-alteration-in-some-form-bysuffalterattion-in-some-forme-byinjected-humor-or-randomised-tQq {
          margin-bottom: 0.7rem;
          max-width: 30.2rem;
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.1725;
          color: rgba(22, 22, 21, 0.5);
          font-family: Work Sans, 'Source Sans Pro';
          flex-shrink: 0;
        }
        .item-100-mzR {
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2.6rem;
          font-weight: 600;
          line-height: 1.2;
          color: #000000;
          font-family: Syne, 'Source Sans Pro';
        }
      }
      .frame-11194-GwB {
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .florida-jacket-pxh {
          font-family: Syne, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.6rem;
          font-size: 2.6rem;
          font-weight: 600;
          line-height: 1.2;
          color: #000000;
        }
        .suffered-alteration-in-some-form-bysuffalterattion-in-some-forme-byinjected-humor-or-randomised-mN9 {
          line-height: 1.1725;
          color: rgba(22, 22, 21, 0.5);
          font-family: Work Sans, 'Source Sans Pro';
          flex-shrink: 0;
          margin-bottom: 0.7rem;
          max-width: 30.2rem;
          font-size: 1.4rem;
          font-weight: 400;
        }
        .item-100-4c9 {
          font-family: Syne, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2.6rem;
          font-weight: 600;
          line-height: 1.2;
          color: #000000;
        }
      }
    }
  }
  .auto-group-yahf-PeR {
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('REPLACE_IMAGE:9c649ecbdc1cdc661f9e78135f72e2b52d3dccf5');
    flex-shrink: 0;
    width: 100%;
    height: 52rem;
    position: relative;
    background-size: 100% 100%;

    .auto-group-vjys-Xkd {
      top: 8.2rem;
      display: flex;
      align-items: flex-start;
      width: 107.1rem;
      height: 8.7rem;
      position: absolute;
      left: 10.3rem;

      .auto-group-poiq-Fgd {
        width: 32.7rem;
        height: 8.1rem;
        position: relative;
        flex-shrink: 0;
        margin-right: 18.6rem;

        .get-news-about-articles-and-updates-in-your-inbox-BKP {
          width: 32.7rem;
          position: absolute;
          top: 1.7rem;
          line-height: 1.1725;
          color: rgba(255, 255, 255, 0.5);
          font-family: Work Sans, 'Source Sans Pro';
          height: 6.4rem;
          left: 0;
          font-size: 1.8rem;
          font-weight: 400;
        }
        .newslleter-qPw {
          left: 0;
          font-size: 2.6rem;
          line-height: 1.2;
          white-space: nowrap;
          color: rgba(255, 255, 255, 0.5);
          font-family: Syne, 'Source Sans Pro';
          width: 14rem;
          height: 3.2rem;
          position: absolute;
          top: 0;
          font-weight: 600;
        }
      }
      .auto-group-yvot-8dw {
        width: 55.8rem;
        height: 100%;
        flex-shrink: 0;

        .name-5p5 {
          color: rgba(255, 255, 255, 0.5);
          font-family: Work Sans, 'Source Sans Pro';
          white-space: nowrap;
          margin: 0rem 0rem 0.8rem 1.4rem;
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.1725;
        }
        .line-19-Cth {
          margin-bottom: 3.4rem;
          width: 100%;
          height: 0.1rem;
          background-color: #ffffff;
        }
        .email-kfK {
          font-weight: 400;
          line-height: 1.1725;
          color: rgba(255, 255, 255, 0.5);
          font-family: Work Sans, 'Source Sans Pro';
          white-space: nowrap;
          margin-left: 1.4rem;
          font-size: 1.8rem;
        }
      }
    }
    .message-fnH {
      left: 63rem;
      top: 21.6rem;
      font-weight: 400;
      height: 2.2rem;
      position: absolute;
      font-size: 1.8rem;
      line-height: 1.1725;
      color: rgba(255, 255, 255, 0.5);
      font-family: Work Sans, 'Source Sans Pro';
      white-space: nowrap;
      width: 8.6rem;
    }
    .auto-group-huyp-NRo {
      top: 26rem;
      width: 125.3rem;
      height: 23rem;
      position: absolute;
      left: 9rem;

      .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua-ut-enim-ad-minim-veniam-quis-nostrud-exercitation-ullamco-hiy {
        line-height: 0.7599999887;
        font-family: Syne, 'Source Sans Pro';
        width: 112rem;
        position: absolute;
        font-size: 13.5rem;
        font-weight: 800;
        height: 20.6rem;
        left: 0;
        top: 2.4rem;
        color: #ffffff;
      }
      .button-6m7 {
        left: 107.2rem;
        line-height: 0.6153846154;
        box-sizing: border-box;
        font-size: 2.6rem;
        font-weight: 400;
        font-family: Work Sans, 'Source Sans Pro';
        white-space: nowrap;
        display: flex;
        width: 18.1rem;
        align-items: center;
        justify-content: center;
        height: 18.1rem;
        position: absolute;
        top: 0;
        color: #f07e15;
        border: solid 0.2rem #f07e15;
        border-radius: 9.05rem;
      }
    }
    .line-20-YND {
      left: 61.6rem;
      top: 17.7rem;
      background-color: #ffffff;
      width: 55.8rem;
      height: 0.1rem;
      position: absolute;
    }
    .line-21-sfP {
      width: 55.8rem;
      height: 0.1rem;
      position: absolute;
      left: 61.6rem;
      top: 24.6rem;
      background-color: #ffffff;
    }
  }
  .auto-group-oazd-nnM {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5;
    color: #ffffff;
    font-family: Poppins, 'Source Sans Pro';
    white-space: nowrap;
    justify-content: center;
    background-color: #000000;
    flex-shrink: 0;
    width: 100%;
    height: 6.6rem;
    display: flex;
    align-items: center;
  }
}
