
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 39rem;
}.iphone-14-1-u7P {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;
  position: relative;

  .auto-group-xejd-Bqb {
    padding: 1.2rem 2rem 1.1rem 2rem;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #191919;
    flex-shrink: 0;
    box-sizing: border-box;

    .layer-156-sTX {
      flex-shrink: 0;
      margin: 0rem 0.3rem 0.01rem 0rem;
      width: 2.1rem;
      height: 1.2904rem;
      object-fit: contain;
      vertical-align: top;
    }
    .free-delivery-NfB {
      flex-shrink: 0;
      margin-right: 0.8rem;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: #616161;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
    }
    .line-11-VUu {
      height: 1.9rem;
      background-color: #616161;
      flex-shrink: 0;
      margin-right: 1rem;
      width: 0.1rem;
    }
    .return-policy-pn5 {
      flex-shrink: 0;
      margin-right: 7.7rem;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: #616161;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
    }
    .login-kQq {
      margin-right: 1.2rem;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: #616161;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
    .vector-rTs {
      margin: 0.06rem 1.15rem 0rem 0rem;
      width: 0.45rem;
      height: 0.76rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .vector-MfX {
      margin: 0rem 1.2rem 0.136rem 0rem;
      width: 0.8rem;
      height: 0.7645rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .vector-fw7 {
      height: 0.56rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0.06rem 1.14rem 0rem 0rem;
      width: 0.76rem;
    }
    .group-6-QNu {
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-bottom: 0.1rem;
      width: 0.8rem;
      height: 0.8rem;
      position: relative;
    }
  }
  .auto-group-7pyj-XTX {
    background-color: #161615;
    flex-shrink: 0;
    width: 108.2972rem;
    align-items: center;
    display: flex;
    flex-direction: column;

    .auto-group-ftl9-4TT {
      align-items: flex-end;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 1.9rem 16.797rem 1rem 56.5rem;
      width: 100%;

      .auto-group-xayr-neM {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin-bottom: 0.4rem;
        width: 100%;

        .shopkart-k5P {
          font-size: 3rem;
          line-height: 1.5;
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 18.9rem;
        }
        .hamburger-menu-gDw {
          height: 2.4rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-bottom: 0.1rem;
          width: 2.4rem;
        }
      }
      .group-16-NsT {
        flex-shrink: 0;
        width: 35rem;
        height: 0.1rem;
        object-fit: contain;
        vertical-align: top;
      }
    }
    .auto-group-eglz-huj {
      flex-shrink: 0;
      width: 100%;
      height: 60.3rem;
      position: relative;

      .frame-11197-TP7 {
        width: 10.3rem;
        height: 2.5rem;
        position: absolute;
        left: 2rem;
        top: 53.9rem;
        border-bottom: solid 0.1rem #ffffff;
        box-sizing: border-box;
        border: solid 0.1rem #ffffff;

        .frame-1-C5o {
          width: 100%;
          height: 2.2rem;
          display: flex;
          align-items: center;

          .see-more-YfT {
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.1725;
            color: #ffffff;
            font-family: Work Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 0.9rem;
          }
          .vector-V4u {
            margin-top: 0.2rem;
            width: 1rem;
            height: 1rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
      }
      .group-15-PRB {
        left: 0;
        top: 0;
        width: 108.2972rem;
        height: 60.3rem;
        position: absolute;

        .rectangle-30-Kpd {
          height: 32.4194rem;
          position: absolute;
          left: 0;
          top: 19.7295rem;
          background-color: #f07e15;
          width: 73.7854rem;
        }
        .star-3-rJm {
          position: absolute;
          left: 20.5486rem;
          top: 0;
          object-fit: contain;
          vertical-align: top;
          width: 27.2701rem;
          height: 33.994rem;
        }
        .jessica-radanavong-ichpbhfd0pw-unsplash-Brq {
          left: 12.3007rem;
          top: 0.3705rem;
          object-fit: cover;
          vertical-align: top;
          width: 32.1rem;
          height: 59.9295rem;
          position: absolute;
        }
        .rectangle-29-FLu {
          opacity: 0.2;
          width: 73.7854rem;
          height: 32.4194rem;
          position: absolute;
          left: 0;
          top: 19.7295rem;
          background-color: rgba(240, 126, 21, 0.200000003);
        }
        .star-4-a8H {
          position: absolute;
          left: 15.6444rem;
          top: 45.0166rem;
          object-fit: contain;
          vertical-align: top;
          width: 4.7556rem;
          height: 8.1512rem;
        }
        .oregon-jacket-78D {
          white-space: nowrap;
          width: 11.7rem;
          height: 1.7rem;
          position: absolute;
          left: 42.0972rem;
          top: 44.4608rem;
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.1725;
          text-transform: uppercase;
          color: #161615;
          font-family: Work Sans, 'Source Sans Pro';
        }
        .item-124-c4y {
          font-size: 1.4rem;
          color: #161615;
          height: 1.7rem;
          position: absolute;
          top: 46.2207rem;
          font-weight: 400;
          line-height: 1.1725;
          font-family: Work Sans, 'Source Sans Pro';
          white-space: nowrap;
          width: 3.1rem;
          left: 42.0972rem;
        }
        .line-23-Wg9 {
          background-color: #ffffff;
          width: 72.5222rem;
          height: 0.1rem;
          position: absolute;
          left: 0;
          top: 49.0922rem;
        }
        .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua-ut-enim-ad-minim-veniam-quis-nostrud-exercitation-ullamco-rED {
          white-space: nowrap;
          width: 24.8rem;
          left: 1.5rem;
          font-size: 5.5rem;
          font-weight: 800;
          line-height: 1.2560000333;
          color: #ffffff;
          font-family: Syne, 'Source Sans Pro';
          height: 7rem;
          position: absolute;
          top: 29.9rem;
        }
        .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua-ut-enim-ad-minim-veniam-quis-nostrud-exercitation-ullamco-4bB {
          height: 7rem;
          font-weight: 800;
          line-height: 1.2560000333;
          color: #ffffff;
          white-space: nowrap;
          width: 21.5rem;
          position: absolute;
          left: 4.1rem;
          top: 39.9rem;
          font-size: 5.5rem;
          font-family: Syne, 'Source Sans Pro';
        }
        .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua-ut-enim-ad-minim-veniam-quis-nostrud-exercitation-ullamco-g6m {
          font-weight: 800;
          line-height: 1.2560000333;
          top: 34.7rem;
          font-size: 5.5rem;
          font-family: Syne, 'Source Sans Pro';
          white-space: nowrap;
          width: 22.5rem;
          height: 7rem;
          position: absolute;
          left: 9.8rem;
        }
      }
    }
  }
  .auto-group-szhw-7Sy {
    width: 100%;
    height: 139.7rem;
    position: relative;
    flex-shrink: 0;

    .auto-group-nbgv-T13 {
      height: 6.5rem;
      position: absolute;
      left: 0.9rem;
      top: 4.5rem;
      width: 65.9rem;

      .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua-ut-enim-ad-minim-veniam-quis-nostrud-exercitation-ullamco-PQV {
        white-space: nowrap;
        width: 28.7rem;
        position: absolute;
        color: #000000;
        font-size: 4rem;
        font-weight: 600;
        line-height: 1.256000042;
        font-family: Syne, 'Source Sans Pro';
        height: 5.1rem;
        left: 1.4rem;
        top: 0;
      }
      .group-17-Eg1 {
        position: absolute;
        left: 0;
        top: 4.3rem;
        object-fit: contain;
        vertical-align: top;
        width: 65.9rem;
        height: 2.2rem;
      }
    }
    .auto-group-a38v-YAu {
      position: absolute;
      left: 2.8rem;
      top: 11.4rem;
      display: flex;
      column-gap: 1.4rem;
      align-items: center;
      width: 33.9rem;
      height: 2.2rem;

      .apparel-FLD {
        line-height: 1.1725;
        color: #000000;
        font-family: Work Sans, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-top: 0.1rem;
        font-size: 1.4rem;
        font-weight: 400;
      }
      .accessories-z2u {
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.8rem;
        font-weight: 600;
        line-height: 1.2;
        color: #000000;
        font-family: Syne, 'Source Sans Pro';
      }
      .best-sellers-vSM {
        color: #000000;
        font-family: Work Sans, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-top: 0.1rem;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.1725;
      }
      .off-rau {
        margin-top: 0.1rem;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.1725;
        color: #000000;
        font-family: Work Sans, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .auto-group-qq4m-Paq {
      width: 64rem;
      height: 32.2rem;
      position: absolute;
      left: 2rem;
      top: 17.4rem;
      display: flex;
      align-items: center;

      .auto-group-rs13-82d {
        margin-right: 2.6rem;
        height: 100%;
        background-position: center;
        background-image: url('REPLACE_IMAGE:18dda13e07d18c9e3059f7e9658764387e84c47e');
        box-sizing: border-box;
        padding: 27.7rem 0rem 0rem 26.5rem;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        flex-shrink: 0;

        .group-19-eWm {
          width: 4.5rem;
          height: 4.5rem;
          object-fit: contain;
          vertical-align: top;
        }
      }
      .zam-nungaray-acw3b7q6ys0-unsplash-Ak1 {
        width: 30.4rem;
        height: 32.2rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .auto-group-xntb-FmT {
      width: 63.8rem;
      height: 12.7rem;
      position: absolute;
      left: 2.8rem;
      top: 50.8rem;
      display: flex;
      align-items: center;

      .frame-11194-aHw {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin-right: 3.4rem;
        height: 100%;

        .florida-jacket-jAq {
          color: #000000;
          font-family: Syne, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.6rem;
          font-size: 2.6rem;
          font-weight: 600;
          line-height: 1.2;
        }
        .suffered-alteration-in-some-form-bysuffalterattion-in-some-forme-byinjected-humor-or-randomised-4iu {
          margin-bottom: 0.7rem;
          max-width: 30.2rem;
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.1725;
          color: rgba(22, 22, 21, 0.5);
          font-family: Work Sans, 'Source Sans Pro';
          flex-shrink: 0;
        }
        .item-100-xJV {
          font-size: 2.6rem;
          font-weight: 600;
          line-height: 1.2;
          color: #000000;
          font-family: Syne, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
      .auto-group-gd8d-58D {
        width: 30.2rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .secondary-button-pLh {
          position: absolute;
          left: 25.2rem;
          top: 8rem;
          object-fit: contain;
          vertical-align: top;
          width: 4.5rem;
          height: 4.5rem;
        }
        .frame-11194-jyT {
          width: 30.2rem;
          height: 12.7rem;
          position: absolute;
          left: 0;
          top: 0;

          .florida-jacket-tLZ {
            white-space: nowrap;
            margin-bottom: 0.6rem;
            font-size: 2.6rem;
            font-weight: 600;
            line-height: 1.2;
            color: #000000;
            font-family: Syne, 'Source Sans Pro';
          }
          .suffered-alteration-in-some-form-bysuffalterattion-in-some-forme-byinjected-humor-or-randomised-oiR {
            line-height: 1.1725;
            color: rgba(22, 22, 21, 0.5);
            font-family: Work Sans, 'Source Sans Pro';
            margin-bottom: 0.7rem;
            max-width: 30.2rem;
            font-size: 1.4rem;
            font-weight: 400;
          }
          .item-100-UZf {
            font-family: Syne, 'Source Sans Pro';
            white-space: nowrap;
            font-size: 2.6rem;
            font-weight: 600;
            line-height: 1.2;
            color: #000000;
          }
        }
      }
    }
    .auto-group-5pmx-p7j {
      height: 65.9rem;
      position: absolute;
      left: 0.1rem;
      top: 75.3rem;
      width: 38.8rem;

      .item-18591063-LLy {
        position: absolute;
        left: 0;
        top: 0;
        object-fit: cover;
        vertical-align: top;
        width: 38.8rem;
        height: 63.5rem;
      }
      .get-news-about-articles-and-updates-in-your-inbox-H1K {
        top: 7.9rem;
        text-align: center;
        font-size: 1.8rem;
        line-height: 1.1725;
        width: 25rem;
        height: 6.4rem;
        position: absolute;
        left: 6.9rem;
        color: rgba(255, 255, 255, 0.5);
        font-weight: 400;
        font-family: Work Sans, 'Source Sans Pro';
      }
      .newslleter-Mms {
        width: 14rem;
        position: absolute;
        text-align: center;
        line-height: 1.2;
        color: rgba(255, 255, 255, 0.5);
        font-family: Syne, 'Source Sans Pro';
        white-space: nowrap;
        height: 3.2rem;
        left: 12.45rem;
        top: 6.2rem;
        font-size: 2.6rem;
        font-weight: 600;
      }
      .name-FMT {
        left: 2.8rem;
        line-height: 1.1725;
        color: rgba(255, 255, 255, 0.5);
        height: 2.2rem;
        position: absolute;
        font-size: 1.8rem;
        font-weight: 400;
        font-family: Work Sans, 'Source Sans Pro';
        white-space: nowrap;
        width: 5.2rem;
        top: 19.6rem;
      }
      .email-k3K {
        white-space: nowrap;
        width: 5.5rem;
        left: 2.8rem;
        top: 25.1rem;
        font-weight: 400;
        line-height: 1.1725;
        color: rgba(255, 255, 255, 0.5);
        font-family: Work Sans, 'Source Sans Pro';
        height: 2.2rem;
        position: absolute;
        font-size: 1.8rem;
      }
      .message-p3B {
        color: rgba(255, 255, 255, 0.5);
        white-space: nowrap;
        line-height: 1.1725;
        height: 2.2rem;
        position: absolute;
        left: 2.8rem;
        top: 31rem;
        font-size: 1.8rem;
        font-weight: 400;
        font-family: Work Sans, 'Source Sans Pro';
        width: 8.6rem;
      }
      .line-19-vc1 {
        width: 35rem;
        height: 0.1rem;
        position: absolute;
        left: 1.9rem;
        top: 22.4rem;
        background-color: #ffffff;
      }
      .line-20-rkZ {
        position: absolute;
        left: 1.9rem;
        top: 27.9rem;
        background-color: #ffffff;
        width: 35rem;
        height: 0.1rem;
      }
      .line-21-PEh {
        width: 35rem;
        height: 0.1rem;
        position: absolute;
        left: 1.9rem;
        top: 33.8rem;
        background-color: #ffffff;
      }
      .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua-ut-enim-ad-minim-veniam-quis-nostrud-exercitation-ullamco-vEd {
        font-weight: 800;
        line-height: 0.6760000749;
        color: #ffffff;
        height: 11.2rem;
        left: 1.9rem;
        top: 41.5rem;
        font-size: 5.5rem;
        width: 34.5rem;
        position: absolute;
        font-family: Syne, 'Source Sans Pro';
      }
      .button-ZHb {
        width: 10rem;
        font-weight: 400;
        line-height: 0.6566693442;
        color: #f07e15;
        position: absolute;
        font-size: 1.4rem;
        height: 10rem;
        left: 26.9rem;
        font-family: Work Sans, 'Source Sans Pro';
        display: flex;
        align-items: center;
        box-sizing: border-box;
        top: 40.1rem;
        white-space: nowrap;
        justify-content: center;
        border: solid 0.1149rem #f07e15;
        border-radius: 5rem;
      }
      .rectangle-28-yMK {
        top: 59.3rem;
        background-color: #000000;
        width: 38.8rem;
        height: 6.6rem;
        position: absolute;
        left: 0;
      }
      .copyright-2022-all-right-reserved-by-sg-i41 {
        left: 7.9rem;
        top: 60.7rem;
        line-height: 1.5;
        color: #ffffff;
        white-space: nowrap;
        font-family: Poppins, 'Source Sans Pro';
        width: 23.7rem;
        height: 1.8rem;
        position: absolute;
        font-size: 1.2rem;
        font-weight: 400;
      }
    }
    .arrow-3-QhX {
      width: 5.5rem;
      height: 0;
      position: absolute;
      left: 21.9rem;
      top: 69.8rem;
      object-fit: contain;
      vertical-align: top;
    }
    .arrow-4-xDF {
      vertical-align: top;
      width: 5.5rem;
      height: 0;
      position: absolute;
      left: 11.6rem;
      top: 69.8rem;
      object-fit: contain;
    }
  }
}
